.main_border{
    border: 1px solid #000000;
}
p{
    font-family: Verdana;
    font-size:12px;
    margin: 15px;
}
.left{
    background-color: #f6f6f6;
    border-right: 1px solid #424242;
}

p.title{
    background-color: #A72E37;
    color: #ffffff;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
#coolmenu{
    border: 1px solid #A6D3D3; /* Стиль рамки */
    border-bottom-width: 0;
    width: 95%;/* Ширина меню */
    background-color: #f6f6f6;/*Фоновый цвет ячейки*/
    margin:5px;/*Ширина отступов*/
	
}

#coolmenu a{
    font:bold 13px Verdana; /*Шрифт текста*/
    padding: 2px; /*Внутренний отступ текста ссылки от краеев ячейки*/
    padding-left: 4px; /*Внутренний отступ текста ссылки от левого края*/
    display: block;
    width: 100%; /*Ширина ячейки */
    color: #000000; /* Цвет текста*/
    text-decoration: none; /* Подчеркивание у ссылок*/
    border-bottom: 1px solid aqua;
}
html>body #coolmenu a{
    width: auto;
}
#coolmenu a:hover{
    background-color: #cccccc;
    color: #000000;
}
.footer{
    border: 1px solid #f6f6f6;
    background-color:#CDCDCD;
    width: 690px;
    height: 50px;
}
p.title2{
    background-color: #c4c92f;
    color: #ffffff;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
.form1{
    font-family: Verdana;
    font-size: 10px;
}
.form3{
    font-family: Verdana;
    font-size: 11px;
}
.form{
    border: 1px solid #cccccc;
    margin: 5px;
}
.lesson{
    border: 1px solid #cccccc;
    width: 95%;

}
.lesson_title{
    background-color: #f6f6f6;
    font-size: 100%;
}
.lesson_name{
	font-weight:bold;
	margin-top:7px;
	margin-bottom:7px;
}
.lesson_adds{
	font-size:11px;
	margin-top:7px;
	margin-bottom:7px;
	color:#424242;
}
.view_title{
	font-size:16px;
	font-weight:bold;
	color:#cc0000;
	text-align:center;
}
.view_date{
	font-size:11px;
	color:#424242;
	margin-top:7px;
	margin-bottom:7px;
	font-weight:bold;
}